@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  0% { transform: translateX(-150%) skewX(-25deg); }
  100% { transform: translateX(150%) skewX(-25deg); }
}

.animate-shine {
  animation: shine 1s ease-in-out;
}